In [1]:
import psycopg2
import pandas as pd

In [2]:
try: 
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=sqlsql12")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [3]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

In [4]:
conn.set_session(autocommit=True)

In [5]:
try: 
    cur.execute("create database newdb")
except psycopg2.Error as e:
    print(e)

In [6]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try: 
    conn = psycopg2.connect("host=localhost dbname=newdb user=postgres password=sqlsql12")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

In [7]:
customer_data = pd.read_csv(r"C:\dataset\Data\olist_customers_dataset.csv")

In [8]:
customer_data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
customer_data_clean = customer_data[['customer_id','customer_zip_code_prefix','customer_city','customer_state']]

In [10]:
customer_data_clean.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,13056,campinas,SP

In [11]:
payment_data = pd.read_csv(r"C:\dataset\Data\olist_order_payments_dataset.csv")

In [12]:
payment_data.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [13]:
seller_data = pd.read_csv(r"C:\dataset\Data\olist_sellers_dataset.csv")

In [14]:
seller_data_clean = seller_data[['seller_id','seller_zip_code_prefix','seller_state']]

In [15]:
customer_data_create_table = ("""CREATE TABLE customer (
customer_id VARCHAR PRIMARY KEY,
customer_zip_code INTEGER, 
customer_city VARCHAR,
seller_state VARCHAR)""")

In [16]:
cur.execute(customer_data_create_table)
conn.commit()

In [17]:
customer_data_insert = ("""INSERT INTO customer (
customer_id, 
customer_zip_code,
customer_city,
seller_state )
VALUES(%s,%s,%s,%s)""")

In [18]:
for i, row in customer_data_clean.iterrows():
    cur.execute(customer_data_insert,list(row))

In [19]:
payment_data_create_table = ("""CREATE TABLE payment (
order_id VARCHAR,
payment_sequential SMALLINT, 
payment_type VARCHAR,
payment_installments SMALLINT,
payment_value FLOAT(2))""")

In [20]:
cur.execute(payment_data_create_table)
conn.commit()

In [21]:
payment_data_insert = ("""INSERT INTO payment (
order_id, 
payment_sequential ,
payment_type,
payment_installments,
payment_value)
VALUES(%s,%s,%s,%s,%s)""")

In [22]:
for i, row in payment_data.iterrows():
    cur.execute(payment_data_insert,list(row))

In [23]:
seller_data_create_table = ("""CREATE TABLE seller (
seller_id VARCHAR PRIMARY KEY,
seller_zip_code INTEGER,
seller_state VARCHAR
)""")

In [24]:
cur.execute(seller_data_create_table)
conn.commit()

In [25]:
seller_data_insert = ("""INSERT INTO seller (
seller_id, 
seller_zip_code,
seller_state)
VALUES(%s,%s,%s)""")

In [26]:
for i, row in seller_data_clean.iterrows():
    cur.execute(seller_data_insert,list(row))